<nav class="navbar navbar-default text-center" role="navigation">
    <div class="container">
        <div>
            <ul class="nav navbar-nav" role="tablist">
                <li class="<%= 'active' if params[:status] == 'pending' %>"><%= link_to 'Pending', equivalencies_path(:status => :pending) %></li>
                <li class="<%= 'active' if params[:status] == 'sent' %>"><%= link_to 'Sent', equivalencies_path(:status => :sent) %></li>
                <li class="<%= 'active' if params[:status] == 'approved' %>"><%= link_to 'Approved', equivalencies_path(:status => :approved) %></li>
            </ul>
        </div>
    </div>
</nav>


<form role="form" action="<%= equivalencies_path %>" method="get" class="text-center form-inline" >
    <input type="hidden" name="status" value="<%= params[:status] %>">
    <div class="input-group">
        <%= text_field_tag :s, params[:s], :class => 'form-control' %>
        <span class="input-group-btn">
            <%= submit_tag "Search", :name => nil, :class => "btn btn-default" %>
        </span>
    </div>
</form>
<br><br>

<% if @equivalencies.count > 0 %>

<div class="col-md-8 col-md-offset-2">

    <%= render @equivalencies %>

    <div class="text-center">
        <%= will_paginate @equivalencies, renderer: BootstrapPagination::Rails %>
    </div>
</div>

<% else %>

<div class="text-center">
    <h2>Nothing to see here!</h2>
</div>

<% end %>
