<h2>course search</h2>

<form action="<%= search_path %>" method="get" >
<p>
    <%= label_tag :course %>:
    <%= text_field_tag :course, params[:course] %>
    <br>
    <%= submit_tag "Search!", :name => nil %>
</p>
</form>

<ul>
    <% for course in @courses %>
    <li>
        <p><%= course.name %> (<%= course.university.name %>, <%= course.university.city %>, <%= course.university.country %>)</p>
    </li>
    <% end %>
</ul>