<div class="col-md-8 col-md-offset-2">

    <form role="form" action="<%= search_path %>" method="get" >
        <div class="form-group">
            <%= label_tag :course, "I'm looking for a course..." %>
            <%= text_field_tag :course, params[:course], :class => 'form-control', :placeholder => "biology, university of worcester, Social Sciences..." %>
        </div>
        
        <div class="text-center">
            <%= submit_tag "Search!", :name => nil %>
        </div>
    </form>

</div>

<% if params[:course] != nil && params[:course] != '' %>

<div class="col-md-8 col-md-offset-2">
    
    <% if @courses.count > 0 %>
    
    <div id="page_links">

        <% if @p > 0 %>
        <%= link_to 'Previous', search_path(:course => params[:course], :p => @p - 10), :id => :prev_link %>
        <% end %>

        <% if @p + 10 < @p_max %>
        <%= link_to 'Next', search_path(:course => params[:course], :p => @p + 10), :id => :next_link %>
        <% end %>
    
    </div>

    <%= render @courses %>
    
    <% else %>
    
    <div class="text-center" style="margin-top: 2em"><h2>Nothing turned up!</h2></div>
    
    <% end %>
    
</div>

<% end %>