<div id="search_form">

<div id="search_header">I'm looking for...</h3>

<form action="<%= search_path %>" method="get" >
    <%= text_field_tag :course, params[:course], :id => :search_box, :placeholder => "biology, university of worcester, Social Sciences..." %>
    <br>
    <%= submit_tag "Search!", :name => nil %>
</form>

</div>

<% if @courses %>

<div id="search_results">

<ul>
    <% for course in @courses %>
    <li>
        <p><%= course.name %> (<%= course.university.name %>, <%= course.university.city %>, <%= course.university.country %>)</p>
    </li>
    <% end %>
</ul>

</div>

<% end %>