<%= image_tag current_user.image, :class => 'img-responsive pull-left', :style => 'max-width: 100px; margin-right: 5px' %>
    
<div class='pull-left'>
        <b><%= user.name %></b> (ID: <%= user.umnid %>)<br>
        Email: <a href="mailto:<%= user.email %>"><%= user.email %></a><br>
        Collegiate unit: <%= user.collegiate_unit %><br>
        Major: <%= user.major %><br>
        Minor: <%= user.minor %>
</div>
