<div id="course<%= course.id %>" >

    <div class="btn-group pull-right" id="controls">
        
        <% if course.umd_course.notes != '' && course.umd_course.notes %>
        <button type="button" class="btn btn-small btn-default" data-toggle="collapse" data-target="#notes<%= course.id %>">
            Show Notes
        </button>
        <% end %>
        
        <% if course.syllabus.exists? %>
        <%= link_to 'View syllabus', course.syllabus.url, :class => 'btn btn-small btn-default' %>
        <% end %>
        
        <% if current_user && current_user.admin %>
        <%= link_to 'See Review', edit_review_path(course.review), :class => 'btn btn-small btn-default' %>
        <% end %>
    </div>

    <b><%= course.code || '' %> <%= course.name %></b><br>
    <%= course.university.name || 'no university' %> (<%= course.university.city || '' %>, <%= course.university.country || '' %>)
    <br>
    Equivalent: <b><%= course.umd_course.designator || '' %> <%= course.umd_course.code || '' %> <%= course.umd_course.name || '' %></b><br>
    <% if course.umd_course.lib_eds.reject(&:empty?).count > 0 %>
    Liberal Education Categories: <%= course.umd_course.lib_eds.reject(&:empty?).join(', ') %><br>
    <% end %>
    Approved on: <%= course.umd_course.approved.strftime('%b %e, %Y') || '' %><br>

    <% if course.umd_course.notes != '' && course.umd_course.notes %>
    <div id="notes<%= course.id %>" class="collapse">
        <div class="alert alert-info">
            <%= course.umd_course.notes %>
        </div>
    </div>
    <% end %>

</div>

<hr>