<div id="review<%= Equivalency.id %>" >
    
    <div class="btn-group pull-right" id="controls">
        <button type="button" class="btn btn-small btn-default" data-toggle="collapse" data-target="#notes<%= Equivalency.id %>">
            Show Notes
        </button>
        <% if current_user && current_user.admin %>
        <%= link_to 'View', edit_review_path(review), :class => 'btn btn-small btn-default' %>
        <% end %>
    </div>
    
    <b><%= (Equivalency.course.code || '') + ' ' + Equivalency.course.name %></b><br>
    <%= (Equivalency.university.name || 'no university') + ' (' + (Equivalency.university.city || '') + ', ' + (Equivalency.university.country || '') + ')' %>
    <br>
    Date submitted: <%= Equivalency.created_at.strftime('%b %e, %Y') %><br>
    Status: <b><%= Equivalency.status.titleize %></b><br>
        
    <div id="notes<%= Equivalency.id %>" class="collapse">
        
        <% if Equivalency.status == 'approved' %>
            
        Equivalent: <b><%= Equivalency.umd_course.designator + ' ' + Equivalency.umd_course.code + ': ' + Equivalency.umd_course.name %></b><br>
        <% if Equivalency.umd_course.lib_eds.reject(&:empty?).count > 0 %>
        Liberal education categories: <%= Equivalency.umd_course.lib_eds.reject(&:empty?).join(', ') %><br>
        <% end %>
        <% if Equivalency.umd_course.approved_by %>
        Approved by: <%= Equivalency.umd_course.approved_by %><br>
        <% end %>
        Approved on: <%= Equivalency.umd_course.approved.strftime('%b %e, %Y') || '' %><br>
        <!-- <div class="notes_box"><%= Equivalency.umd_course.notes %></div> -->
        
        <% end %>
        
        <% if Equivalency.status == 'sent' || Equivalency.status == 'resent' %>
            
        Last updated: <%= Equivalency.updated_at.strftime('%b %e, %Y') %>
        
        <% end %>
        
        <% if Equivalency.note != '' && Equivalency.note != nil %>
        <div class="alert alert-info"><%= Equivalency.note %></div>
        <% end %>
    
    </div>
</div>
<hr>
