<div id="review.<%= review.id %>" >
    
    <div class="btn-group pull-right" id="controls">
        <button type="button" class="btn btn-small btn-default" data-toggle="collapse" data-target="#extra_notes">
            Show Notes
        </button>
        <% if current_user && current_user.admin %>
        <%= link_to 'Edit', edit_review_path(review), :class => 'btn btn-small btn-default' %>
        <%= link_to 'Delete', review_path(review), method: :delete, data: { confirm: 'Are you sure? This will delete the corresponding foreign course and UMD course from the database!' }, :class => 'btn btn-small btn-danger' %>
        <% end %>
    </div>
    
    <b><%= (review.course.code || '') + ' ' + review.course.name %></b><br>
    <%= (review.university.name || 'no university') + ' (' + (review.university.city || '') + ', ' + (review.university.country || '') + ')' %>
    <br>
    Date submitted: <%= review.created_at.strftime('%b %e, %Y') %><br>
    Status: <b><%= review.status.titleize %></b><br>
        
    <div id="extra_notes" class="collapse">
        <!-- <div class="notes_box"><%= review.note %></div><br> -->
        
        <% if review.status == 'approved' %>
            
        Equivalent: <b><%= review.umd_course.designator + ' ' + review.umd_course.code + ': ' + review.umd_course.name %></b><br>
        <% if review.umd_course.lib_eds.reject(&:empty?).count > 0 %>
        Liberal education categories: <%= review.umd_course.lib_eds.reject(&:empty?).join(', ') %><br>
        <% end %>
        <% if review.umd_course.approved_by %>
        Approved by: <%= review.umd_course.approved_by %><br>
        <% end %>
        Approved on: <%= review.umd_course.approved.strftime('%b %e, %Y') || '' %><br>
        <!-- <div class="notes_box"><%= review.umd_course.notes %></div> -->
        
        <% end %>
        
        <% if review.status == 'sent' || review.status == 'resent' %>
            
        Last updated: <%= review.updated_at.strftime('%b %e, %Y') %>
        
        <% end %>
    
    </div>
</div>
<hr>