
<div style = 'width: 50%; text-align: right;'>

    <%= form_for @review do |review_form| %>
    <%= review_form.label 'Department for Review:' %><%= review_form.text_field :dept %><br>
    <%= review_form.label 'Program sponsor:' %><%= review_form.text_field :program_sponsor %><br>
    <%= review_form.label 'Program name:' %><%= review_form.text_field :program_name %><br>
    <%= review_form.label 'Program term:' %><%= review_form.text_field :program_term %><br>

    <%= review_form.fields_for @review.course do |course_form| %>

    <div id="get_university">
        <%= select_tag(:university_id, options_for_select(@universities, selected: @review.university.id)) %>
        <%= link_to "Add university...", '#', :id => :add_university_link %><br>
    </div>

    <div id="add_university">
        <%= fields_for :university, University.new do |uni_form| %>
        <%= uni_form.label 'University name:' %><%= uni_form.text_field :name %><br>
        <%= uni_form.label 'University city:' %><%= uni_form.text_field :city %><br>
        <%= uni_form.label 'University country:' %><%= uni_form.text_field :country %><br>
        <% end %>
    </div>
    
    
    <%= course_form.label 'Course name:' %><%= course_form.text_field :name %><br>
    <%= course_form.label 'Course code:' %><%= course_form.text_field :code %><br>
    <%= course_form.label 'Language of Instruction:' %><%= course_form.text_field :language %><br>
    
    
    <% end %>
    
    <%= review_form.submit :'Submit Review' %>
    
    <% end %>

</div>