<div class="container">

    <div class="btn-group pull-right" id="controls">
        <% if current_user && current_user.admin %>
        <%= link_to 'Print view', review_path(@review), :class => 'btn btn-small btn-default' %>
        <%= link_to 'Delete', review_path(@review), method: :delete, data: { confirm: 'Are you sure? This will delete the corresponding foreign course and UMD course from the database!' }, :class => 'btn btn-small btn-danger' %>
        <% end %>
    </div>

    <% if @review.user %>
    
    <fieldset class="row">
        <legend>Student Information</legend>
        <%= render @review.user %>
    </fieldset>
    
    <br>
    
    <% end %>

    <%= form_for @review, :html => { :multipart => true, :role => :form } do |review_form| %>

    <div class="form-group form-horizontal row">
        <%= review_form.label 'Department for Review', :class => "col-sm-2 col-sm-offset-3 control-label" %>
        <div class="col-sm-4">
            <%= review_form.text_field :dept, :placeholder => 'History, Sociology...', :class => "form-control" %>
        </div>
    </div>
    
    <div class="row">
    
        <fieldset class="col-md-6">
            <legend>Study Abroad Program Information</legend>
    
            <div class="form-group">
        
                <%= review_form.label 'Program sponsor' %>
                <%= review_form.text_field :program_sponsor, :class => "form-control" %>
                <%= review_form.label 'Program name' %>
                <%= review_form.text_field :program_name, :class => "form-control" %>
                <%= review_form.label 'Program term' %>
                <%= review_form.text_field :program_term, :class => "form-control" %>
            </div>
        </fieldset>

        <fieldset class="col-md-6">
            <legend>University Information</legend>
            <div id="get_university" class="form-group">
                <%= label_tag :university_id %>
                <%= select_tag(:university_id, options_for_select(@universities, selected: @review.university.id), { :class => "form-control" }) %>
                <div style="margin-top: 15px" class="text-center"><a class="btn btn-default" id="add_university_link">Add university</a></div>
            </div>

            <div id="add_university" class="form-group">
                <%= fields_for :university, University.new do |uni_form| %>
                <%= uni_form.label 'University name' %><%= uni_form.text_field :name, :class => "form-control" %>
                <%= uni_form.label 'University city' %><%= uni_form.text_field :city, :class => "form-control" %>
                <%= uni_form.label 'University country' %><%= uni_form.text_field :country, :class => "form-control" %><br>
                <% end %>
            </div>
        </fieldset>

    </div>

    <div class="row">
    
        <fieldset class="col-md-6">
            <legend class="legend">Foreign Course Information</legend>
    
            <%= review_form.fields_for :course, @review.course do |course_form| %>
    
            <%= course_form.label 'Course name' %><%= course_form.text_field :name, :class => "form-control" %>
            <%= course_form.label 'Course code' %><%= course_form.text_field :code, :class => "form-control" %>
            <%= course_form.label 'Language of Instruction' %><%= course_form.text_field :language, :class => "form-control" %>
            <%= course_form.label 'Syllabus' %><%= course_form.file_field :syllabus %>
    
            <% end %>
        </fieldset>

        <fieldset class="col-md-6">
            <legend class="legend">Review Status</legend>
            <div class="col-md-3">
                <div class="radio">
                    <%= review_form.radio_button(:status, "pending") %>
                    <%= review_form.label(:status_pending, "Pending") %>
                </div>
                <div class="radio">
                    <%= review_form.radio_button(:status, "sent") %>
                    <%= review_form.label(:status_sent, "Sent") %>
                </div>
                <div class="radio">
                    <%= review_form.radio_button(:status, "resent") %>
                    <%= review_form.label(:status_resent, "Re-sent") %>
                </div>
                <div class="radio">
                    <%= review_form.radio_button(:status, "approved") %>
                    <%= review_form.label(:status_approved, "Approved") %>
                </div>
            </div>
            <div class="col-md-6">
                <%= review_form.label 'Review notes' %>
                <%= review_form.text_area :note, :class => "form-control", :style => "height: 150px" %>
            </div>
        
        </fieldset>
    </div>
    
    <div class="row">
    
        <fieldset class="col-md-8 col-md-offset-2">
            <legend class="legend">UMD Course Equivalent</legend>
            <div class="col-md-6">
                <%= review_form.fields_for :umd_course, @review.umd_course do |umd_form| %>
                <%= umd_form.label 'Designator' %><%= umd_form.text_field :designator, :class => "form-control" %>
                <%= umd_form.label 'Course code' %><%= umd_form.text_field :code, :class => "form-control" %>
                <%= umd_form.label 'Course name' %><%= umd_form.text_field :name, :class => "form-control" %>
                <%= umd_form.label 'Approved by' %><%= umd_form.text_field :approved_by, :class => "form-control" %>
                <%= umd_form.label 'Approved on' %><%= umd_form.date_select :approved, :class => "form-control" %>
            </div>
            <div class="col-md-6">
                <%= umd_form.label 'Lib Ed Categories: '%><%= umd_form.select :lib_eds, @lib_ed_cats, {}, { :multiple => true, :size => 5, :class => "form-control" }  %>

                <%= umd_form.label 'Course notes: '%><%= umd_form.text_area :notes, :class => "form-control", :style => "height: 80px"  %>
            </div>
            <% end %>
        </fieldset>
    
    </div>

    <div class="text-center">
        <%= review_form.submit :'Submit Review', :id => :submit_review, :class => "btn btn-default" %>
    </div>
    
    <% end %>

</div>
