
<div id="edit_review">
    
    <% if @review.user %>
    
    <fieldset class="review_fieldset">
        <legend class="legend">Student Information</legend>
        <%= render @review.user %>
    </fieldset>
    
    <br>
    
    <% end %>

    <%= form_for @review, :html => { :multipart => true } do |review_form| %>
    <%= review_form.label 'Department for Review:', :class => :field_label %> <%= review_form.text_field :dept, :placeholder => 'History, Sociology...', :class => :field_entry %><br>
    
    <fieldset class="review_fieldset">
        <legend class="legend">Study Abroad Program Information</legend>
        <%= review_form.label 'Program sponsor:', :class => :field_label %><%= review_form.text_field :program_sponsor, :class => :field_entry %>
        <%= review_form.label 'Program name:', :class => :field_label %><%= review_form.text_field :program_name, :class => :field_entry %>
        <%= review_form.label 'Program term:', :class => :field_label %><%= review_form.text_field :program_term, :class => :field_entry %>
        
        <br>

        <div id="get_university">
            <%= select_tag(:university_id, options_for_select(@universities, selected: @review.university.id)) %>
            <%= link_to "Add university...", '#', :id => :add_university_link %><br>
        </div>

        <div id="add_university">
            <%= fields_for :university, University.new do |uni_form| %>
            <%= uni_form.label 'University name:', :class => :field_label %><%= uni_form.text_field :name, :class => :field_entry %>
            <%= uni_form.label 'University city:', :class => :field_label %><%= uni_form.text_field :city, :class => :field_entry %>
            <%= uni_form.label 'University country:', :class => :field_label %><%= uni_form.text_field :country, :class => :field_entry %><br>
            <% end %>
        </div>
    </fieldset>
    
    <fieldset class="review_fieldset">
        <legend class="legend">Foreign Course Information</legend>
    
        <%= review_form.fields_for @review.course do |course_form| %>
    
        <%= course_form.label 'Course name:', :class => :field_label %><%= course_form.text_field :name, :class => :field_entry %>
        <%= course_form.label 'Course code:', :class => :field_label %><%= course_form.text_field :code, :class => :field_entry %><br><br>
        <%= course_form.label 'Language of Instruction:', :class => :field_label %><%= course_form.text_field :language, :class => :field_entry %>
        <%= course_form.label 'Syllabus:', :class => :field_label %><%= course_form.file_field :syllabus, :class => :field_entry %>
        <br>
    
    
        <% end %>
    </fieldset>
    
    <fieldset class="review_fieldset">
        <legend class="legend">Status</legend>
        <div id="review_note_box">
            <%= review_form.label 'Review notes:' %><br>
            <%= review_form.text_area :note, :style => "width: 100%; height: 75px;" %>
        </div>
        <%= review_form.radio_button(:status, "pending") %>
        <%= review_form.label(:status_pending, "Pending") %><br>
        <%= review_form.radio_button(:status, "sent") %>
        <%= review_form.label(:status_sent, "Sent") %><br>
        <%= review_form.radio_button(:status, "resent") %>
        <%= review_form.label(:status_resent, "Re-sent") %><br>
        <%= review_form.radio_button(:status, "approved") %>
        <%= review_form.label(:status_approved, "Approved") %>
        
    </fieldset>
    
    <fieldset id="review_umd_equivalent" class="review_fieldset">
        <legend class="legend">UMD Course Equivalent</legend>
        <%= fields_for :umd_course, @review.umd_course do |umd_form| %>
        <%= umd_form.label 'Designator:', :class => :field_label %><%= umd_form.text_field :designator, :class => :field_entry %>
        <%= umd_form.label 'Course code:', :class => :field_label %><%= umd_form.text_field :code, :class => :field_entry %>
        <%= umd_form.label 'Course name:', :class => :field_label %><%= umd_form.text_field :name, :class => :field_entry %><br><br>
        <%= umd_form.label 'Approved by:', :class => :field_label %><%= umd_form.text_field :approved_by, :class => :field_entry %>
        <%= umd_form.label 'Approved on: ', :class => :field_label %><%= umd_form.date_select :approved, :class => :field_entry %><br><br>
        <div style="float: left">
            <%= umd_form.label 'Liberal Education Categories: '%><br><%= umd_form.select :lib_eds, @lib_ed_cats, {}, { :multiple => true, :size => 5 }  %>
        </div>
        <div style="float: left; margin-left: 40px">
            <%= umd_form.label 'Course notes: '%><br><%= umd_form.text_area :notes  %>
        </div>
        <% end %>
    </fieldset>
    
    <%= review_form.submit :'Submit Review', :id => :submit_review%>
    
    <% end %>

</div>
