<nav class="navbar navbar-default text-center" role="navigation">
    <div class="container">
        <div>
            <ul class="nav navbar-nav" role="tablist">
                <li class="<%= 'active' if params[:status] == 'pending' %>"><%= link_to 'Pending', reviews_path(:status => :pending) %></li>
                <li class="<%= 'active' if params[:status] == 'sent' %>"><%= link_to 'Sent', reviews_path(:status => :sent) %></li>
                <li class="<%= 'active' if params[:status] == 'approved' %>"><%= link_to 'Approved', reviews_path(:status => :approved) %></li>
            </ul>
        </div>
    </div>
</nav>

<div class="col-md-8 col-md-offset-2">

<div id="top_buttons" style="overflow: auto">
<% # TODO: abstract the buttons out
if @reviews.count > 0 %>

<% if @p > 0 %>
<%= link_to 'Previous', reviews_path(:status => params[:status], :p => @p - 10), :class => "btn btn-default" %>
<% end %>

<% if @p + 10 < @p_max %>
<%= link_to 'Next', reviews_path(:status => params[:status], :p => @p + 10), :class => "btn btn-default pull-right" %>
<% end %>
</div>

<hr>


<%= render @reviews %>


<div id="bottom_buttons">
<% if @p > 0 %>
<%= link_to 'Previous', reviews_path(:status => params[:status], :p => @p - 10), :class => "btn btn-default" %>
<% end %>

<% if @p + 10 < @p_max %>
<%= link_to 'Next', reviews_path(:status => params[:status], :p => @p + 10), :class => "btn btn-default pull-right" %>
<% end %>
</div>

</div>

<% else %>

<div class="text-center">
<h2>Nothing to see here!</h2>
</div>

<% end %>