<nav class="navbar navbar-default text-center" role="navigation">
    <div class="container">
        <div>
            <ul class="nav navbar-nav" role="tablist">
                <li class="<%= 'active' if params[:status] == 'pending' %>"><%= link_to 'Pending', reviews_path(:status => :pending) %></li>
                <li class="<%= 'active' if params[:status] == 'sent' %>"><%= link_to 'Sent', reviews_path(:status => :sent) %></li>
                <li class="<%= 'active' if params[:status] == 'approved' %>"><%= link_to 'Approved', reviews_path(:status => :approved) %></li>
            </ul>
        </div>
    </div>
</nav>

<% if @reviews.count > 0 %>

<div class="col-md-8 col-md-offset-2">

    <nav>
        <ul class="pager">

            <% if @p > 0 %>
            <li class="previous"><a href="<%= reviews_path(:status => params[:status], :p => @p - 10) %>"><span aria-hidden="true">&larr;</span> Previous</a></li>
            <% end %>

            <% if @p + 10 < @p_max %>
            <li class="next"><a href="<%= reviews_path(:status => params[:status], :p => @p + 10) %>">Next <span aria-hidden="true">&rarr;</span></a></li>
            <% end %>

        </ul>
    </nav>

    <hr>


    <%= render @reviews %>


    <nav>
        <ul class="pager">

            <% if @p > 0 %>
            <li class="previous"><a href="<%= reviews_path(:status => params[:status], :p => @p - 10) %>"><span aria-hidden="true">&larr;</span> Previous</a></li>
            <% end %>

            <% if @p + 10 < @p_max %>
            <li class="next"><a href="<%= reviews_path(:status => params[:status], :p => @p + 10) %>">Next <span aria-hidden="true">&rarr;</span></a></li>
            <% end %>

        </ul>
    </nav>

</div>

<% else %>

<div class="text-center">
    <h2>Nothing to see here!</h2>
</div>

<% end %>