<div style = 'width: 50%; text-align: right'>

<%= form_tag('/reviews', method: :post) do %>
<%= label_tag 'Department for Review:' %><%= text_field_tag :dept %><br>
<%= label_tag 'Program provider:' %><%= text_field_tag :provider %><br>
<%= label_tag 'Program name:' %><%= text_field_tag :program %><br>
<%= label_tag 'Program term:' %><%= text_field_tag :term %><br>
<% universities = University.all.collect {|u| [u.name, u.id] }
   universities.unshift(['Add a new university', '0'])
%>
<%= select(:university, :id, universities, {include_blank: 'Select a university'}, :onchange => 'toggleUniversityInfo();' ) %><br>
<div id="university_info" style="visibility: hidden">
<%= label_tag 'University name:' %><%= text_field_tag :university_name %><br>
<%= label_tag 'University city:' %><%= text_field_tag :university_city %><br>
<%= label_tag 'University country:' %><%= text_field_tag :university_country %><br>
</div>
<% end %>

</div>
