

<% if current_user && current_user.admin %>
<div class="alert alert-info">
    Why are you here?!? Head on over to <%= link_to 'reviews', reviews_path %> to see where it's really at.
</div>
<% end %>

<% if @reviews.count > 0 %>
<div class="col-md-8 col-md-offset-2">
    <nav>
        <ul class="pager">
            <% if @p > 0 %>
            <li class="previous"><a href="<%= reviews_path(:p => @p - 10) %>"><span aria-hidden="true">&larr;</span> Previous</a></li>
            <% end %>

            <% if @p + 10 < @p_max %>
            <li class="next"><a href="<%= reviews_path(:p => @p + 10) %>">Next <span aria-hidden="true">&rarr;</span></a></li>
            <% end %>
        </ul>
    </nav>

    <hr>

    <%= render @reviews %>

    <nav>
        <ul class="pager">
            <% if @p > 0 %>
            <li class="previous"><a href="<%= reviews_path(:p => @p - 10) %>"><span aria-hidden="true">&larr;</span> Previous</a></li>
            <% end %>

            <% if @p + 10 < @p_max %>
            <li class="next"><a href="<%= reviews_path(:p => @p + 10) %>">Next <span aria-hidden="true">&rarr;</span></a></li>
            <% end %>
        </ul>
    </nav>
</div>

<% else %>

<div class="text-center">
    <h2>Nothing to see here!</h2>
</div>

<% end %>