<!DOCTYPE html>
<html>
<head>
    <title>IEO Course Database</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
    
    <div id="top_bar">
        <div id="user_box">
            <% if current_user %>
            <%= image_tag current_user.image, :id => 'user_picture' %>
            <% else %>
            <%= image_tag "moodle.png", :id => 'user_picture' %>
            <% end %>
        
            <div id="user_name">
                <% if current_user %>
                <%= current_user.name %><br>
                <%= link_to "sign out", logout_path %>
                <% else %>
                Not signed in!<br>
                <%= link_to "sign in", login_path %>
                <% end %>
            </div>
        </div>
    
    </div>
    
    <div id="content">
    
        <div id="header">
            <h1>IEO Course Equivalency Database!</h1>
        </div>
        
        <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
    
        <div id="nav_bar">
            <%= link_to 'Search Courses', search_path, :class => "nav_tab" %>
            
            <% if current_user && current_user.admin %>
                <%= link_to 'Reviews', reviews_path, :class => "nav_tab" %>
            <% end %>
            
            <% if current_user && !current_user.admin %>
                <%= link_to 'My Reviews', my_reviews_path, :class => "nav_tab" %>
            <% end %>
            
            <%= link_to 'Submit a review', new_review_path, :class => "nav_tab" %>
            
            <% if current_user %>
                <%= link_to 'My Profile', profile_path, :class => "nav_tab" %>
            <% end %>
        </div>
        
        <div id="page_yield">

            <%= yield %>
        
        </div>

    </div>
    
    <div id="bottom_thing" style="text-align: center; font-size: small">
        <br><br>
        questions? bugs? feature requests? email <a href="mailto:rysau001@d.umn.edu">mitchell</a>.
    </div>

</body>
</html>
